<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    {{sugg1}}
    {% for key in wrongwords %}
    
        <tr>
         <th> {{ key }} </th>
         </tr>
    
    {% endfor %}
    <h1> {{display}}</h1>
    <table border=1>
        {% for key in sugg %}
            {% for key1 in key %}
        <tr>
            <th> {{ key1 }} </th>
        </tr>
            {% endfor %}  
        {% endfor %}
    </table>
</body>
</html>